					<!-- TOP_BANNER_START --><div id="topBanner"><!-- TOP_BANNER --></div><!-- TOP_BANNER_END -->
					<header id="header">
						<!-- DARK_MODE_START -->
						<div class="inner">
							<div class="flex align-items-end justify-content-end">
								<div class="theme-switch">
									<input type="checkbox" id="theme-toggle" />
									<span class="slider"></span>
								</div>
							</div>
						</div>
						<!-- DARK_MODE_END -->
						<div class="inner inner-icons">
								<a href="<!-- HOMEURL -->" class="logo" alt="Amanda">
									<span class="symbol"><img src="<!-- LOGO -->" alt="" /></span><span class="title"><!-- HOMETITLE --></span>
								</a>
							<!-- ICONS -->
                            <!-- MENU_NAV_START -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
                            <!-- MENU_NAV_END -->
						</div>
					</header>